@font-face {
   font-family: Geometria, Arial, sans-serif;
   src: url("..\fonts\geometria.woff2") format(woff2);
   src: url("..\fonts\geometria.woff") format(woff);
}

.header-top {
  display: flex;
  justify-content: space-between;
}
.navigation__list {
  display: flex;
  justify-content: space-around;
}




  .services__list {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .services__item {

    width: 33.3%;
  }

  .popular__list {
    display: flex;
    justify-content: space-around;
  }
